name: URL Shortener CI/CD Pipeline

on:
  push:
  pull_request:

permissions:
  contents: read
  security-events: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Install dotnet-format
        run: dotnet tool install -g dotnet-format

      - name: Run formatter
        run: dotnet format --verify-no-changes

      - name: Build
        run: dotnet build --configuration Release

      - name: Unit Tests
        run: dotnet test --no-build --verbosity normal

  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "10.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: csharp

      - name: Build for CodeQL
        run: dotnet build --configuration Release

      - name: Run CodeQL Analysis
        uses: github/codeql-action/analyze@v3

      - name: Check for vulnerable NuGet packages
        run: dotnet list package --vulnerable
